/* color platte
#f3f2ef -- linkedIn Background Silver
#4285F4 -- Google Blue
#DB4437 -- Google Red
#F4B400 -- Google Yellow
#0F9D58 -- Google Green
*/

html{
  background-color: #f3f2ef;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, 
                Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, 
                Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, 
                Lucida Grande, Helvetica, Arial,
                "Microsoft YaHei", "微软雅黑", Heiti, "黑体"，
                sans-serif;
  font-size: 16px;
  margin: auto;
  max-width: 782px;
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

a:link {
  color: #4285F4;
  text-decoration: none;
}

th {
  text-align: right;
}


/* header */
header {
  background-color: white;
  border-radius: 0 0 8px 8px;
	box-shadow: 1px 1px 0 rgba(0,0,0,0.08);
  margin: 0 0 16px 0;
  max-width: 782px;
  padding: 0;
}

.header-avatar {
  width: 192px;
  height: 192px;
  margin: 0 24px 24px 0;
}

.header-background {
  width: 100%;
}

header h1 {
  margin-top: 0;
}

header ul {
  padding-inline-start: 0;
}

header li {
  display: inline;
}

.navigation li:after {
  content: " / ";
}

.contact svg {
  width: 25px;
  height: 25px;
  padding: 3px;
}

.contact svg:hover {
  width: 30px;
  height: 30px;
}

/* responsive */
.header-container {
  padding: 12px 24px;
  display: flex
}

@media screen and (max-width:455px) {
  .header-container {
    padding: 12px 24px;
    display: block;
  }
}

/* article */
article {
  background-color: white;
  border-radius: 8px;
	box-shadow: 1px  1px 0 rgba(0,0,0,0.08);
  margin: 16px 0;
  max-width: 734px;
  padding: 24px;
  }

section {
  border-bottom:2px solid #f3f2ef;
}

article section ul {
  list-style-type: none;
  padding: 0;
}

article section li::before {
  content: "- ";
}

.images {
  column-count: auto;
}

.images img {
  border-radius: 8px;
  margin: 0 12px 12px 0;
  width: 350px;
  border: 1px solid #f3f2ef;
}

.images a img:hover {
  border: 1px solid #4285F4;
}

/* responsive */
@media screen and (max-width:782px) {
  .images img {
    width: 272px;
  }
}

@media screen and (max-width:350px) {
  .images img {
    width: 100%;
  }
}

/* footer */
footer {
  text-align: center;
  font-size: 12px;
  color: grey;
  margin-bottom: 20px;
}

