@import url("reset.css");
/* color platte
--primary: LinkedIn Link Blue
--backgroud: linkedIn Background Silver
--surface:white
--on-surface: black;
--on-background: Footer grey;
*/

:root {
  --primary: #4285f4;
  --backgroud: #f3f2ef;
  --surface: white;
  --on-surface: black;
  --on-background: #808080;
}

html {
  background-color: var(--backgroud);
  scroll-behavior: smooth;
}

/* fant-family comes form jianshu.com */
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
  margin: auto;
  max-width: 782px;
  line-height: 2;
}

/* article */
article {
  background-color: var(--surface);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
  max-width: auto;
  padding: 24px;
}

section:not(:last-child) {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 2px solid #f3f2ef;
}

/* text format */
h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a:link {
  color: var(--primary);
  text-decoration: none;
}

/* table */
tr {
  line-height: 1.5;
}
th {
  text-align: right;
}

/* list */
ul {
  list-style-type: none;
}

li::before {
  content: "- ";
}

li {
  line-height: 1.5;
}

/* image */
img {
  border-radius: 8px;
  max-width: 350px;
  width: 100%;
}

img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* overwrite styles */
/* header */
header {
  background-color: var(--surface);
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
  max-width: auto;
}

.header-background {
  background-image: url("../images/header/profile-bg-800x200.jpg");
  background-position: center;
  height: 200px;
}

.header-container {
  padding: 24px;
  display: flex;
  gap: 24px;
}

.header-avatar {
  width: 192px;
  height: 192px;
}

.contact ul,
.navigation ul {
  list-style-type: none;
}

.contact li::before,
.navigation li::before {
  content: none;
}

.contact li,
.navigation li {
  display: inline;
}

.navigation li:not(:last-child)::after {
  content: " / ";
}

.contact svg {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.contact svg:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* footer */
footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--on-background);
  margin-bottom: 20px;
}

/* responsive 
  desktop first responsive design
  i.e the default layout is for witdth greater than 782px
*/
@media screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
  }
}
